.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 0;
}

.popup_opened{
    visibility: visible;
    opacity: 1;
}

.popup__container{
    display: flex;
    width: 430px;
    position: relative;
}

.popup__form{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.popup__title{
    text-align: center;
    font-family: Cinzel;
    margin-bottom: 40px;
}

.popup__input{
    border: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 30px;
    border-bottom: 1px solid black;
}

.popup__save{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 300px;
    
}

.popup__close{
    position: absolute;
    top: -60px;
    right: -40px;
    background: none;
    width: 32px;
    height: 32px;
    object-fit: cover;
    transition: opacity 0.5s ease;
    padding: 0;
    border: none;
}

.popup__close:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:767px){
    .popup__close{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}

@media screen and (min-width:320px) and (max-width:767px){
    .popup__close-image{
        object-fit: contain;
        width: 20px;
        height: 20px;
    }
}


@media screen and (min-width:320px) and (max-width:767px){
    .popup__container{
        width: 282px;
    }
}