.navigation__overlay {
    display: none;
  }

@media screen and (min-width: 320px) and (max-width: 639px) {
    .navigation__overlay {
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 42;
        justify-content: space-between;
      }

      .navigation__icon{
        filter: invert(81%) sepia(49%) saturate(859%) hue-rotate(32deg) brightness(104%) contrast(99%);
      }

      .navigation__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
      }

    .navigation__container {
        box-sizing: border-box;
        padding: 159px 90px 90px 90px;
        width: 300px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #505050;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    .navigation__container-empty {
        flex: 1 1 auto;
    }

    .navigation__close-button {
        position: absolute;
        top: 22px;
        right: 22px;
        width: 22px;
        height: 22px;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        background-color: none;
      }

      .navigation__close-icon{
        max-width: 30px;
        object-fit: cover;
        filter: invert(81%) sepia(49%) saturate(859%) hue-rotate(32deg) brightness(104%) contrast(99%);
      }

    .navigation__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        margin-top: 60px;
        width: 300px;
    }

    .navigation__icon{
        max-width: 40px;
    }

    .navigation__phone{
        color: #8FFE09;
        text-decoration: none;
        font-family: Shlapak;
        font-size: 45px;
        text-decoration: none;
        background: linear-gradient(
            to right,
            #8ffe09 20%,
            white 30%,
            white 70%,
            #8ffe09 80%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
    }

    @keyframes textShine {
      0% {
          background-position: 0% 50%;
      }
      100% {
          background-position: 100% 50%;
      }
  }

    .navigation__close-button:hover{
        opacity: 0.6;
    }

    .navigation__icon:hover{
        opacity: 0.6;
    }

    .navigation__text-box{
      width: 280px;
      margin: 0 auto;
      color: white;

    }

    .navigation__text-element{
      font-family: Cinzel;
      letter-spacing: 3px;
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      background: linear-gradient(
            to right,
            #8ffe09 20%,
            white 30%,
            white 70%,
            #8ffe09 80%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
    }

    .navigation__text-element:first-of-type{
      text-align-last: left;
    }

    .navigation__text-element:nth-child(2){
      text-align-last: left;
      margin-left: 40px;
      color: #8FFE09;
    }
    .navigation__text-element:nth-child(3){
      text-align-last: center;
      margin-left: 40px;
    }

    .navigation__text-element:last-of-type{
      text-align-last: right;
      color: #8FFE09;
    }
  }