.header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-bottom: 1px solid #808080;
    padding-bottom: 20px;
}

.header__title-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 70px;
    letter-spacing: 6px;
    font-family: Helvetica, Arial;
}

.header__subtitle{
    margin: 0;
    margin-top: -30px;
    margin-right: -62px ;
    font-family: Shlapak;
    color: #8FFE09;
    font-size: 50px;
    letter-spacing: 5px;
    transform: rotate(-10deg);
}

.header__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__links{
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.header__link{

    object-fit: cover;
}
.header__icon{
    max-width: 32px;
    object-fit: contain;
    filter: invert(81%) sepia(49%) saturate(859%) hue-rotate(32deg) brightness(104%) contrast(99%);
}

.header__icon_active:hover{
    opacity: 0.6;
    cursor: pointer;
}

.header__phone{
    font-size: 30px;
    color: white;
    font-family: Helvetica;
    margin-left: 20px;
    text-decoration: none;
}

.header__phone:hover{
    opacity: 0.6;
    cursor: pointer;
}

.header__menu-button{
    display: none;
}

@media screen and (min-width: 640px) and (max-width: 1023px) {


    .header__title{
        font-size: 48px;
    }

    .header__subtitle{
        font-size: 33px;
        margin-top: -22px;
    }

    .header__icon{
        max-width: 24px;
    }

    .header__phone{
        font-size: 20px;
    }

    .header__links{
        max-width: 120px;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .header{
        height: 80px;
        padding-bottom: 10px;
    }

    .header__title{
        font-size: 32px;
    }

    .header__subtitle{
        font-size: 26px;
        margin-top: -15px;
    }

    .header__icon{
        display: none;
    }

    .header__phone{
        display: none;
    }

    .header__links{ 
        display: none;
    }

    .header__menu-button{
        display: block;
        width: 30px;
        height: 30px;
        object-fit: cover;
        background: none;
        box-shadow: none;
        border: none;
        margin-right: 20px;
    }
    
    .header__menu-button:hover{
        opacity: 0.6;
        cursor: pointer;
    }

    .header__menu-icon{
        width: 30px;
        height: 30px;
        filter: invert(100%) sepia(5%) saturate(20%) hue-rotate(252deg) brightness(108%) contrast(106%);
    }
}