.slider{
display: flex;
justify-content: space-between;
margin-top: 150px;
}

.slider__title_1{
    margin: 0;
    margin-bottom: 30px;
    margin-left: 20px;
    font-family: Shlapak;
    color: #8FFE09;
    font-size: 50px;
    transform: rotate(-15deg);
}

.slider__title_2{
    font-family: Helvetica;
    font-size: 60px;
    color: white;
    max-width: 320px;
    margin: 0;
}

.slider__title_3{
    margin: 0;
    font-family: Shlapak;
    color: #8FFE09;
    font-size: 50px;
    text-align: right;
    transform: rotate(5deg);
    margin-top: -90px;
}

.slider__list{
    list-style: none;
    margin-top: 100px;
    padding: 0;
}

.slider__list-element::before{
    content: url("   ");
    margin-right: 30px;
    display: inline-block;
    content: ' ';
    background-image: url('../../images/arrow.svg');
    background-repeat: no-repeat;
    filter: invert(80%) sepia(28%) saturate(1491%) hue-rotate(35deg) brightness(108%) contrast(99%);
    background-size: 28px 43px;
    height: 30px;
    width: 28px;
}

.slider__list-element{
    color: white;
    font-family: Helvetica;
    font-size: 18px;
}



.slider__title-box{
    width: 380px;
}

.slider__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.slider__item_1{
    background-image: url('../../images/test.jpg');
    background-position: -50px center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item_2{
    background-image: url('../../images/test.jpg');
    background-position: -50px center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item_3{
    background-image: url('../../images/test.jpg');
    background-position: -50px center;
    background-size: cover;
    background-repeat: no-repeat;
} 


@media screen and (min-width: 320px) and (max-width: 767px) {
    .slider{
        flex-direction: column-reverse;
        margin: 0 auto;
        margin-top: 50px;
        align-items: center;
    }

    .slider__item_1{
        background-position: -100px center;
    }
    
    .slider__item_2{
        background-position: -100px center;
    }
    
    .slider__item_3{
        background-position: -100px center;
    } 
}