.slider{
display: flex;
justify-content: space-between;
margin-top: 100px;
}

.slider__about{
    width: 40%;
}

.slider__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.slider__item_1{
    background-image: url('../../images/test.jpg');
    background-position: -50px center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item_2{
    background-image: url('../../images/test.jpg');
    background-position: -50px center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item_3{
    background-image: url('../../images/test.jpg');
    background-position: -50px center;
    background-size: cover;
    background-repeat: no-repeat;
} 